name: PR Title Check
on:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review, edited, labeled, unlabeled]
    branches:
      - main
      - develop

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: thehanimo/pr-title-checker@v1.4.3
        id: pr-title-checker
        continue-on-error: true
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pass_on_octokit_errors: false
          configuration_path: .github/tooling/pr-title-checker.json
    
      - name: Add comment to fix PR title
        if: ${{ steps.pr-title-checker.outputs.success == 'false'}}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: 'PR Title Format Warning'
          recreate: True
          message: |
            ⚠️ **The PR title does not follow the required format.** ⚠️
            
            Please make sure your PR title starts with one of the following prefixes:
            - `fix(): `
            - `feat(): `
            - `docs(): `
            - `refactor(): `
            - `test(): `
            - `chore(): `
            - `revert(): `
            - `fix!(): `
            - `feat!(): `
            - `docs!(): `
            - `refactor!(): `
            - `test!(): `
            - `chore!(): `
            - `revert!(): `
            
            For more details, please refer to the contribution guidelines.
        
      - name: Fail workflow if PR title is invalid
        if: ${{ steps.pr-title-checker.outputs.success == 'false' }}
        run: |
          echo "PR title validation failed."
          exit 1
        
      - name: Remove comment if PR title is fixed
        if: ${{ steps.pr-title-checker.outputs.success == 'true'}}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: 'PR Title Format Warning'
          recreate: True
          message: |
            ✅ **The PR title now follows the required format. Thank you!** ✅